*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 680px 1fr;
  grid-template-rows: 1fr auto;
  gap: 0 30px;
  min-block-size: 100vh;
  align-items: end;
  padding-block: 30px;
}

.result {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.result__video-container {
  position: relative;
  inline-size: 680px;
  block-size: 386px;
  margin-block-end: 20px;
  background-color: #000;
  overflow: hidden;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 21px;
  margin-block-end: 8px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
}

.search-form__textfield {
  inline-size: 260px;
  padding-inline: 0;
  padding-block: 4px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: #888;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 12px;
}

.search-form__pseudo-checkbox {
  inline-size: 16px;
  block-size: 16px;
  border: 1px solid #fff;
  display: inline-block;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding-inline: 20px;
  padding-block: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #444;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 3px;
}

.search-form__submit-button {
  inline-size: 180px;
  block-size: 40px;
}

.content__details {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.title {
  font-size: 72px;
  line-height: 0.9;
  margin-block-end: 40px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  block-size: 400px;
  overflow-y: auto;
  padding-inline-end: 4px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content__list-item {
  padding-inline: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
}

.content__card-link:active .content__video-card {
  background: #444;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current .content__video-card {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 12px;
  background: #222;
  min-block-size: 96px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-inline-size: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-size: 21px;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  inline-size: 180px;
  block-size: 96px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  block-size: 40px;
  margin-block-start: 20px;
}

.result__video-container .preloader,
.content__list-container .preloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
 